@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body{
    margin: 0; padding: 0;
    font-family: 'Lato', sans-serif;
}

body{
    background-repeat: no-repeat;
    background-color: white;
    min-height: 100vh;
}

#Menubalk{
    width: 100%;
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
    /* text-align: center; */
    background-color: darkgrey;
}

#Menubalk a{
    /* display: block; */
    float: left;
    width: 27%;
    padding: 30px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

#Menubalk a:hover{
    background-color: grey;
    text-decoration: none;
    color: white;
}

h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    /* background-color: bisque; */
    border-top: solid black;
    border-bottom: solid black;
}

section{
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 5px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.7);
}

img{
    border-top: solid black;
    border-bottom: solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 35%;
}

footer{
    background-color: darkgrey;
    margin-left: 0;
    margin-bottom: 0px;
    width: 100%;
}

#FooterLocatie{
    display: flexbox;
    margin-left: 0;
    padding: 4%, 2%;
    max-width: 20%;
    background-color: white;
}

#FooterContact{
    display: flexbox;
    margin-left: 0;
    padding: 4%, 2%;
    max-width: 20%;
    background-color: aqua;
}

#FooterLinks{
    display: flexbox;
    margin-left: 0;
    padding: 4%, 2%;
    max-width: 20%;
    background-color: brown;
}

#FooterNav{
    display: flexbox;
    margin-left: 0;
    padding: 4%, 2%;
    max-width: 20%;
    background-color: green;
}